/* CSS declarations go here */

h1{
    padding-bottom: 20px;
}

#login-buttons{
    float: right !important;
}


.login-display-name{
    font-size: 25px;
}

#login-buttons .single-login-button{
    font-size: 50%;
    background: #009688;
}


#login-buttons .single-login-button:hover{
    background: #009688;
}
